.DS_Store
.dart_tool/
.packages
build/
*.iml
.idea/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter/Dart
*.g.dart
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
